<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/nav.ejs') %>
            <div class="container">
                <div class="row">
                    <!-- <%= JSON.stringify(data) %> -->
                    <h2> Edit a book </h2>
                    <form method="post" action="/books/edit/<%=data.id %>">

                        <label for="bookName" class="form-label">Name</label>
                        <input type="text" name="bookName" class="form-control" id="bookName" required
                            value="<%= data.bookName %>" /></br>

                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="description" class="form-control" id="description" required
                            value="<%= data.description %>" /></br>

                        <label for="author" class="form-label">Author</label>
                        <input type="text" name="author" class="form-control" id="author" required
                            value="<%= data.author %>" /></br>

                        <label for="pageCount" class="form-label">Page Count</label>
                        <input type="number" name="pageCount" class="form-control" id="pageCount" required
                            value="<%= data.pageCount %>" /></br>


                        <label for="genre" class="form-label">Genre</label>
                        <input type="text" name="genre" class="form-control" id="genre"
                            value="<%= data.genre %>" /></br>

                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control" id="location" required
                            value="<%= data.location %>" /></br>


                        <label for="status" class="form-label">Book Rating </label>
                        <input type="radio" name="status" value="👎" /><span> 👎</span>

                        <input type="radio" name="status" value="👍" /> <span> 👍 </span>
                        <input type="radio" name="status" value="👍👍" /> <span> 👍👍 </span></br>
                     

                        <button type="submit" class="btn btn-primary">Save Changes to Book</button>
                    </form>
                </div>
            </div>
    </body>

</html>
<style>
    body {
        background-color: #dcd9d9;
    }


    h2 {
        margin-bottom: 25px;
        color: rgba(0, 0, 0, 0.9);
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }


    label,
    span {
        color: rgba(0, 0, 0, 0.9);
    }

    .navigation {
        margin-bottom: 50px;
    }

    .navbar {
        padding: 20px;

    }



    .container {
        margin-top: 50px;

    }

    .btn {
        margin: 40px 0;
        padding: 13px 20px;
        background-color: #011960;
        color: white;

        border: none;
        outline: none;
    }

    .btn:hover {
        background-color: #179CF0;
        color: black;
        font-weight: bold;
        border: none;
        outline: none;
    }
</style>