<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>


    <body>
        <div class="navigation">
            <%- include('partials/nav.ejs') %>
        </div>

        <div class="container">
            <div class="messages">
                <% const messages=getMessages() %>
                    <div class="success">
                        <% if (messages.success) { %>
                            <% messages.success.forEach((elem)=> { %>
                                <div class="alert alert-sucess alert-dismissible" role="alert">
                                    <%= elem %>
                                </div>
                                <% }) %>
                                    <% } %>
                    </div>
                    <div class="fail">
                        <% if (messages.fail) { %>
                            <% messages.fail.forEach((elem)=> { %>
                                <div class="alert alert-fail alert-dismissible" role="alert">
                                    <%= elem %>
                                </div>
                                <% }) %>
                                    <% } %>
                    </div>
            </div>
        </div>
        <div class="container">
            <% if(data.length==0){ %>
                <h4 class="text-muted text-center"> There are no books in your library</h4>
                <div class="btn-container text-center">
                    <a href="/books/add-book/" class="btn btn-primary">Add a Book</a>
                </div>
                <% } else { %>
                    <h2 class="text-center"> Books in Library</h2>
                    <% } %>
                        <div class="row">
                            <% data.forEach((book)=> { %>
                                <div class="col col-12 col-md-6 col-lg-4">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <%= book.bookName %>
                                            </h4>
                                            <div class="item">
                                                <h6 class="card-subtitle mb-2 "><strong> Author: </strong> </h6>
                                                <h6>
                                                    <%= book.author %>
                                                </h6>
                                            </div>
                                            <div class="item">
                                                <h6 class="card-subtitle mb-2 "> <strong>Page Count:</strong></h6>
                                                <h6>
                                                    <%= book.pageCount %> pages
                                                </h6>
                                            </div>
                                            <div class="item">
                                                <h6 class="card-subtitle mb-2 "><strong> Genre: </strong></h6>
                                                <h6>
                                                    <%= book.genre %>
                                                </h6>
                                            </div>
                                            <div class="item">
                                                <h6 class="card-subtitle mb-2"><strong> Location: </strong></h6>
                                                <h6>
                                                    <%= book.location %>
                                                </h6>
                                            </div>
                                            <div class="item">
                                                <h6 class="card-subtitle mb-2 "><strong> Added: </strong></h6>
                                                <h6>
                                                    <%=new Date().getMonth() + 1%>/<%= new Date().getDate() %>/<%=new
                                                                Date().getFullYear()%>
                                                </h6>
                                            </div>




                                            <h6 class="card-text"><strong>Description: </strong></h6>
                                            <p>
                                                <%= book.description %>
                                            </p>
                                            <div class="bottom-item">
                                                <span class="badge text-bg-secondary">
                                                    <%= book.rating %>
                                                </span>
                                                <a href="/books/delete/<%= book.id %>"
                                                    class="card-link link-danger">Delete</a>
                                                <a href="/books/edit/<%= book.id %>"
                                                    class="card-link link-edit">Edit</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <div class="btn-container text-center">
                            <a href="/books/add-book/" class="btn btn-primary">Add a Book</a>
                        </div>
        </div>





    </body>
    <style>
        body {
            background-color: #dcd9d9;
        }



        h2 {
            margin-bottom: 50px;
            color: rgba(0, 0, 0, 0.9);
        }

        h4,
        h3,
        h6 {
            color: rgba(0, 0, 0, 0.9);
        }

        h6 {
            width: 45%;
            text-align: left;
        }

        .navigation {
            margin-bottom: 50px;
        }

        .navbar {
            padding: 20px;

        }



        .container {
            margin-top: 50px;

        }



        .card {
            min-height: 350px;
            height: fit-content;
            margin-bottom: 50px;
            background-color: #f0ecec;
            margin-left: auto;
            margin-right: auto;
        }

        .card-title {
            margin-bottom: 25px;
            text-align: center;
        }

        .item {
            display: flex;
            justify-content: flex-start;
            text-align: center;
            gap: 20px;
        }

        .badge {
            margin-right: 15px;
        }

        .alert {
            background-color: rgb(220, 240, 247);
        }

        .card-link {
            /* background-color: #F0F2F2; */
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
        }

        .link-danger {
            background-color: #9F1109;
            color: white !important;
        }

        .link-danger:hover {
            background-color: #F21905;
            color: white !important;
        }

        .link-edit {
            background-color: #011960;
            color: white;
        }

        .link-edit:hover {
            background-color: #179CF0;
            color: white;
        }

        .btn {
            margin: 20px;

        }

        .bottom-item {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .text-bg-secondary {
            background-color: #179CF0 !important;
            vertical-align: center;
            color: black !important;
            padding: 10px;
        }
    </style>


</html>